In [2]:
import pandas as pd

In [2]:
data = pd.read_csv("finalData.csv")

In [3]:
data.head()

,Unnamed: 0.1,Unnamed: 0,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Road_Type
0,0,0,2,2019-06-12 10:10:56,30.641211,-91.153481,Zachary,LA,77.0,62.0,29.92,10.0,5.0,tertiary
1,1,1,2,2022-12-03 23:37:14.000000000,38.990562,-77.399070,Sterling,VA,45.0,48.0,29.91,10.0,5.0,tertiary
2,2,2,2,2022-08-20 13:13:00.000000000,34.661189,-120.492822,Lompoc,CA,68.0,73.0,29.79,10.0,13.0,tertiary
3,3,3,2,2022-02-21 17:43:04,43.680592,-92.993317,Austin,MN,27.0,86.0,28.49,10.0,15.0,primary
4,4,4,2,2020-12-04 01:46:00,35.395484,-118.985176,Bakersfield,CA,42.0,34.0,29.77,10.0,0.0,residential

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     25000 non-null  int64
 1   Unnamed: 0       25000 non-null  int64
 2   Severity         25000 non-null  int64
 3   Start_Time       25000 non-null  object
 4   Start_Lat        25000 non-null  float64
 5   Start_Lng        25000 non-null  float64
 6   City             24999 non-null  object
 7   State            25000 non-null  object
 8   Temperature(F)   24468 non-null  float64
 9   Humidity(%)      24435 non-null  float64
 10  Pressure(in)     24552 non-null  float64
 11  Visibility(mi)   24435 non-null  float64
 12  Wind_Speed(mph)  23126 non-null  float64
 13  Road_Type        21774 non-null  object
dtypes: float64(7), int64(3), object(4)
memory usage: 2.7+ MB

In [5]:
data.insert(14, "Population", 0)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     25000 non-null  int64
 1   Unnamed: 0       25000 non-null  int64
 2   Severity         25000 non-null  int64
 3   Start_Time       25000 non-null  object
 4   Start_Lat        25000 non-null  float64
 5   Start_Lng        25000 non-null  float64
 6   City             24999 non-null  object
 7   State            25000 non-null  object
 8   Temperature(F)   24468 non-null  float64
 9   Humidity(%)      24435 non-null  float64
 10  Pressure(in)     24552 non-null  float64
 11  Visibility(mi)   24435 non-null  float64
 12  Wind_Speed(mph)  23126 non-null  float64
 13  Road_Type        21774 non-null  object
 14  Population       25000 non-null  int64
dtypes: float64(7), int64(4), object(4)
memory usage: 2.9+ MB

In [7]:
state_population = {}

with open('states.txt', 'r') as file:
    for line in file:
        state_name, state_abbr, population = line.strip().split(',')
        state_population[state_abbr] = int(population)

# Function to get the population based on the state abbreviation
def get_population(state_abbr):
    return state_population.get(state_abbr, None)

# Create a new column in the DataFrame for population
data['Population'] = data['State'].apply(get_population)

In [8]:
data.head()

,Unnamed: 0.1,Unnamed: 0,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Road_Type,Population
0,0,0,2,2019-06-12 10:10:56,30.641211,-91.153481,Zachary,LA,77.0,62.0,29.92,10.0,5.0,tertiary,4468976
1,1,1,2,2022-12-03 23:37:14.000000000,38.990562,-77.399070,Sterling,VA,45.0,48.0,29.91,10.0,5.0,tertiary,7078515
2,2,2,2,2022-08-20 13:13:00.000000000,34.661189,-120.492822,Lompoc,CA,68.0,73.0,29.79,10.0,13.0,tertiary,33871648
3,3,3,2,2022-02-21 17:43:04,43.680592,-92.993317,Austin,MN,27.0,86.0,28.49,10.0,15.0,primary,4919479
4,4,4,2,2020-12-04 01:46:00,35.395484,-118.985176,Bakersfield,CA,42.0,34.0,29.77,10.0,0.0,residential,33871648

In [9]:
data.to_csv("finalDataWithPopulation.csv")

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     25000 non-null  int64
 1   Unnamed: 0       25000 non-null  int64
 2   Severity         25000 non-null  int64
 3   Start_Time       25000 non-null  object
 4   Start_Lat        25000 non-null  float64
 5   Start_Lng        25000 non-null  float64
 6   City             24999 non-null  object
 7   State            25000 non-null  object
 8   Temperature(F)   24468 non-null  float64
 9   Humidity(%)      24435 non-null  float64
 10  Pressure(in)     24552 non-null  float64
 11  Visibility(mi)   24435 non-null  float64
 12  Wind_Speed(mph)  23126 non-null  float64
 13  Road_Type        21774 non-null  object
 14  Population       25000 non-null  int64
dtypes: float64(7), int64(4), object(4)
memory usage: 2.9+ MB

In [14]:
data = data.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Severity         25000 non-null  int64
 1   Start_Time       25000 non-null  object
 2   Start_Lat        25000 non-null  float64
 3   Start_Lng        25000 non-null  float64
 4   City             24999 non-null  object
 5   State            25000 non-null  object
 6   Temperature(F)   24468 non-null  float64
 7   Humidity(%)      24435 non-null  float64
 8   Pressure(in)     24552 non-null  float64
 9   Visibility(mi)   24435 non-null  float64
 10  Wind_Speed(mph)  23126 non-null  float64
 11  Road_Type        21774 non-null  object
 12  Population       25000 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 2.5+ MB

In [16]:
data.to_csv("finalDataWithPopulation2.csv")

In [3]:
data = pd.read_csv("finalDataWithPopulation2.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25000 non-null  int64
 1   Severity         25000 non-null  int64
 2   Start_Time       25000 non-null  object
 3   Start_Lat        25000 non-null  float64
 4   Start_Lng        25000 non-null  float64
 5   City             24999 non-null  object
 6   State            25000 non-null  object
 7   Temperature(F)   24468 non-null  float64
 8   Humidity(%)      24435 non-null  float64
 9   Pressure(in)     24552 non-null  float64
 10  Visibility(mi)   24435 non-null  float64
 11  Wind_Speed(mph)  23126 non-null  float64
 12  Road_Type        21774 non-null  object
 13  Population       25000 non-null  int64
dtypes: float64(7), int64(3), object(4)
memory usage: 2.7+ MB

In [6]:
data = data.dropna(how='any')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19988 entries, 0 to 24999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Severity         19988 non-null  int64
 1   Start_Time       19988 non-null  object
 2   Start_Lat        19988 non-null  float64
 3   Start_Lng        19988 non-null  float64
 4   City             19988 non-null  object
 5   State            19988 non-null  object
 6   Temperature(F)   19988 non-null  float64
 7   Humidity(%)      19988 non-null  float64
 8   Pressure(in)     19988 non-null  float64
 9   Visibility(mi)   19988 non-null  float64
 10  Wind_Speed(mph)  19988 non-null  float64
 11  Road_Type        19988 non-null  object
 12  Population       19988 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 2.1+ MB

In [13]:
data = data.drop(columns=["Start_Time", "Start_Lat", "Start_Lng", "City", "State"])

In [14]:
data.to_csv("finalDataWithPopulation3.csv")